<table class="table">
  <thead>
    <tr>
      <th scope="col">Dan</th>
      <th scope="col">Doručak</th>
      <th scope="col">Ručak</th>
      <th scope="col">Užina</th>
      <th scope="col">Večera</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Pon</th>
      <td>Doručak</td>
      <td>Ručak</td>
      <td>Užina</td>
      <td>Večera</td>
    </tr>
    <tr>
      <th scope="row">Uto</th>
      <td>Doručak</td>
      <td>Ručak</td>
      <td>Užina</td>
      <td>Večera</td>
    </tr>
    <tr>
      <th scope="row">Sre</th>
      <td>Doručak</td>
      <td>Ručak</td>
      <td>Užina</td>
      <td>Večera</td>
    </tr>
    <tr>
      <th scope="row">Čet</th>
      <td>Doručak</td>
      <td>Ručak</td>
      <td>Užina</td>
      <td>Večera</td>
    </tr>
    <tr>
      <th scope="row">Pet</th>
      <td>Doručak</td>
      <td>Ručak</td>
      <td>Užina</td>
      <td>Večera</td>
    </tr>
    <tr>
      <th scope="row">Sub</th>
      <td>Doručak</td>
      <td>Ručak</td>
      <td>Užina</td>
      <td>Večera</td>
    </tr>
    <tr>
      <th scope="row">Ned</th>
      <td>Doručak</td>
      <td>Ručak</td>
      <td>Užina</td>
      <td>Večera</td>
    </tr>
  </tbody>
</table>
