.background-image {
  background-image: url("/assets/mainpage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.transparent-navbar {
  background-color: rgba(255, 255, 255, 0.3);
}

.custom-toggler-icon {
  color: #333;
}

.collapse {
  display: none;
}

.show {
  display: block;
}
