<div class="container border border-2 rounded">
  <div class="row">
    <div class="col-md-12">
      <input type="text" class="form-control" placeholder="Ime recepta" />
    </div>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sastojak</th>
          <th scope="col">Tip sastojka</th>
          <th scope="col">Količina</th>
          <th scope="col">Merna jed.</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th scope="row">Jabuka</th>
          <td>voće</td>
          <td>3</td>
          <td>kom</td>
        </tr>
        <tr>
          <th scope="row">Jogurt</th>
          <td>mlečni proizvodi</td>
          <td>1000</td>
          <td>ml</td>
        </tr>
        <tr>
          <th scope="row">Ovsene pahuljice</th>
          <td>ugljeni hidrati</td>
          <td>1000</td>
          <td>g</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-floating">
    <textarea
      class="form-control"
      placeholder="Recipe"
      id="floatingTextarea2"
      style="height: 100px"
    ></textarea>
    <label for="floatingTextarea2">Priprema</label>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" style="margin-top: 10px">
      Sačuvaj recept
    </button>
  </div>
</div>
