<div class="container border border-2 rounded">
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Naziv sastojka" />
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <select class="form-control">
          <option value="/">Tip sastojka</option>
          <option value="chicken">piletina</option>
          <option value="beef">govedina</option>
          <option value="fish">riba</option>
          <option value="canned_fish">riba konzerva</option>
          <option value="milk">mlečni proizvodi</option>
          <option value="fruit">voće</option>
          <option value="vegetables">povrće</option>
          <option value="canned_vegetables">povrće konzerva</option>
          <option value="frozen">zaleđeni proizvodi</option>
          <option value="hidrates">ugljeni hidrati</option>
          <option value="other">ostalo</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input class="form-control" type="number" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <select class="form-control" id="measureType">
          <option value="/">Jed.</option>
          <option value="g">g</option>
          <option value="kom">kom</option>
          <option value="ml">ml</option>
        </select>
      </div>
    </div>
    <div class="col-md-1 center">
      <button type="button" class="btn btn-secondary" style="font-size: medium">
        +
      </button>
    </div>
  </div>
</div>
